@charset "UTF-8";

html {width:100%; min-width:320px; height:100%;  }
body {  margin:0; position:relative; min-width:320; width:100%; margin:0 auto; display:block; background-color:#fff; height:100%; }

input:focus {outline:none;}
select:focus {outline:none;}
textarea:focus {outline:none;}

img[src$=".gif"], img[src$=".png"] {
                   image-rendering: -moz-crisp-edges;         /* Firefox */
                   image-rendering:   -o-crisp-edges;         /* Opera */
                   image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
                   image-rendering: crisp-edges;
                   -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
                 }



.top1 {display:none; }


#top2 {width:100%; position:relative;   left:0; padding:0 3%; top:0;z-index:9999999; box-sizing:border-box; height:80px; transition: all 0.2s;position:relative;  }
#top2 .call {width:38px; display:inline-block; border:2px solid #fff; border-radius:100%; margin-top:-2px;}
#top2 .call img {width:100%;}
#top2 h1 {position:absolute; left:3%; top:22px; }
#top2 h1 .logo {width:151px; height:34px; display:inline-block;  }
#top2  p  { background-color:#fff;}
#top2  div  {background-color:#fff; font-size:15px; line-height:50px; }
#top2  div input {width:180px; vertical-align:middle; border:1px solid #015aac; height:35px; color:#015aac; padding-left:10px; box-sizing:border-box; background-color:#fff;}
#top2  div div  a {line-height:35px; width:60px;  text-align:center;  float:right; background-color:#015aac; color:#fff ; display:inline-block}

#top2.on { background-color:#fff;}
#top2.on h1 .logo {width:183px; height:40px; background:url('../img/logo_on.png') no-repeat 50% 50%; display:inline-block; background-size: contain;}
#top2.on .cd-nav-trigger span.ham {background-color:#999;}
#top2 .search_top {position:absolute; right:50px; top:10px; cursor:default; width:40px;  padding:10px;}


#top2 .lang {position:absolute; right:90px; top:0; height:60px; }
#top2 .lang a {color:#fff; text-align:center; line-height:20px; display:inline-block; width:60px; margin-top:30px; }
#top2 .lang a:first-child {border-right:1px solid rgba(255,255,255,.5); }




.searchbox {padding:80px 3% 30px 3%; position:absolute; left:0; top:0; 
	background-color:gray;
    width: 100%;
    text-align: center;
    font-size: 0;
	display:block;
	border-bottom:2px solid #e7141a;
}
/*.searchbox .bot-select {
    display: inline-block;
    width: 20%;
    font-size: .8rem;
    height: 35px;
    line-height: 35px;
    border: 3px solid #e7141a;
    vertical-align: middle;
    border-right: 0;
    background-color: #fff;
}*/
.searchbox .wrap {
	
	width: 90%;
	position:relative; 
	border-radius:20px;
	overflow:hidden;
	margin:0 auto;
}
.searchbox input.search_box {
    width: 100%;
    display: inline-block;
    font-size: .85rem;
    height: 40px;
    line-height: 40px;
    border: none;
	margin-right:1%;
    vertical-align: middle;
    padding-left: 15px;
	font-weight:400; 
}
.searchbox a.search_btn {
    width: 20%;
	position:absolute; right:0; top:0;
    text-align: center;
    background-color: #e7141a;
    height: 40px;
    line-height: 40px;
    color: #fff;
    display: inline-block;
    font-size: .9rem;
    font-weight: 600;
    vertical-align: middle;
	
}

.searchbox .search_word {width:100%; font-size:.95rem; margin:20px auto 0 auto;}
.searchbox .search_word a {color:#fff;  margin-right:10px; }




.top1 {background-color:#fff; height:100px; z-index:9999999999999999999999999999999999999; position:relative; }
.top1:after {clear:both; display:block; content:'';}

.top1 .wrap {max-width:1200px; margin:0 auto; }

.top1 .logo {margin-top:30px; display:inline-block; }

.top1 nav {  width:calc(100% - 200px); float:right; }


.top1 nav ul {
  font-size: 0;
  margin: 0;
 padding: 0; width:100%; text-align:right;
}

.top1 nav ul li {
  display: inline-block;
  position: relative;
}

.top1 nav ul li a {
  display: block; letter-spacing:-1px;
  font-size: 20px; font-weight:500;
  padding:35px 50px; 
  transition: 0.2s all;
}
.top:hover nav ul li a  {color:#333 !important}

.top1 nav ul li ul {
   display: none;
  position: absolute;  
  width: 100%; text-align:center; margin-top:1px;
}

.top1 nav ul li ul li {
  
  display: block;  
}

.top1 nav ul li ul li:first-child { border-top: none; }

.top1 nav ul li ul li a {
  background: #fff; color:#fff !important;
  display: block; font-size:16px; font-weight:500;
  padding: 15px 14px;
}


.top1:hover nav ul li ul li a  {color:#555 !important}
.top1:hover nav ul li ul li a:hover {color:#333 !important;  background-color:#ddd; }

 
@media all and (max-width:1200px){
 .top1 .wrap {padding:0 3%}

}

@media all and (max-width:1000px){


}

#footer01_wrap {width:100%; text-align:left; background-color:#333;  position:relative; }
#footer01_wrap .btn_top {position:absolute; right:0; top:0; width:50px; height:50px; background-color:#aaa; color:#111; text-align:center; line-height:50px; font-size:.9rem;}
#footer01_wrap .footer01 {max-width:1200px; margin:0 auto; }
#footer01_wrap .footer01 > img {display:inline-block; width:151px;   vertical-align:middle; padding:20px 0; opacity:.5; }
#footer01_wrap .footer01 .footer_con {display:inline-block; vertical-align:middle; padding-left:50px; padding:20px 0 20px 50px;}
#footer01_wrap .footer01 .footer_con  img {width:110px;  margin-bottom:15px; opacity:.5; }
#footer01_wrap .footer01 .footer_con p {font-size:.95rem; color:#aaa; font-weight:400; line-height:1.5rem; word-break:keep-all }
#footer01_wrap .footer01 .footer_con p.copy {color:#777;}


footer {width:100%; background-color:#e9e9e9;  }
footer #footer {width:100%; margin:0 auto; padding:20px 3%; text-align:center; }
footer #footer:after {content:''; display:block; clear:both; }
footer #footer .f_logo {width:100%;  margin-bottom:10px; }
footer #footer .f_txt {width:100%; font-size:.9rem; line-height:1.5rem; color:#777; font-weight:400; }
footer #footer .f_txt span {color:#999; margin-top:10px; display:inline-block; }

 

@media all and (max-width:800px){


#footer01_wrap .footer01 {text-align:center; padding:0 3%; }
#footer01_wrap .footer01 > img {display:block;  margin:0 auto; padding-bottom:0; }
#footer01_wrap .footer01 .footer_con {padding-left:0; }

}


@media all and (max-width:600px){

#top2 .lang {display:none; }
}









