#nav  {width:35px; float:left; position:relative;   height:30px;    background-color:red;   margin:5px 0px 0 0px; }
nav header  {padding:0 3%;  height:80px;   position: relative;   } 
nav header .btn {text-align:center;  width:100%;}
nav header .btn .wrap {display:inline-block; font-size:0; padding:35px 0; width:100%;}
nav header .btn .wrap a {display:inline-block; font-weight:500; color:#fff; line-height:35px; width:40%; border-radius:18px; font-size:.85rem; background-color:#da0006; }
nav header .btn .wrap a:first-child {margin-right:10px;}
 

.cd-nav-trigger {

  /* hamburger icon */
  position: absolute;
  height: 80px;
  width: 80px;
  /* image replacement */
  overflow: hidden;
  right:0;
  top:0;
  white-space: nowrap;
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  transition: transform 0.2s;
  background-color:#fff; 
}
.cd-nav-trigger .wrap {width:60%; height:60%; background:none !important;border-radius:10px; position:absolute; left:20%; top:20%;  }
.cd-nav-trigger span.ham {
  /* icon created in CSS */
  position: absolute;
  left: 55%;
  top: 50%;  
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 30px;
  height: 2px;

  background-color: #555;
}

.cd-nav-trigger span.ham2 {
  /* icon created in CSS */
   left: 0%;
  top: 0px;
 right:0px;
 bottom:0px;
   
  width: 50px;
  height: 50px;
   text-indent:0px;
 
}
.cd-nav-trigger span.ham::before{
  /* upper and lower lines of the menu icon */
  content: '';
  position: absolute;
  top: 0px;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.2s, width 0.2s;
  -moz-transition: -moz-transform 0.2s, width 0.2s;
  transition: transform 0.2s, width 0.2s;
}
.cd-nav-trigger span.ham:after {
  /* upper and lower lines of the menu icon */
  content: '';
  position: absolute;
  top: 0px;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.2s, width 0.2s;
  -moz-transition: -moz-transform 0.2s, width 0.2s;
  transition: transform 0.2s, width 0.2s;
}
.cd-nav-trigger span.ham::before {
  -webkit-transform-origin: right top;
  -moz-transform-origin: right top;
  -ms-transform-origin: right top;
  -o-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transform: translateY(-10px);
}
.cd-nav-trigger span.ham::after {
  -webkit-transform-origin: right bottom;
  -moz-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  -o-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);
}
.no-touch .cd-nav-trigger:hover {
  /* rotate trigger on hover */
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.no-touch .cd-nav-trigger:hover span::after,
.no-touch .cd-nav-trigger:hover span::before {
  /* animate arrow --> from hamburger to arrow */
  width: 50%;
}
.no-touch .cd-nav-trigger:hover span::before {
  -webkit-transform: translateX(1px) translateY(1px) rotate(45deg);
  -moz-transform: translateX(1px) translateY(1px) rotate(45deg);
  -ms-transform: translateX(1px) translateY(1px) rotate(45deg);
  -o-transform: translateX(1px) translateY(1px) rotate(45deg);
  transform: translateX(1px) translateY(1px) rotate(45deg);
}
.no-touch .cd-nav-trigger:hover span::after {
  -webkit-transform: translateX(1px) translateY(-1px) rotate(-45deg);
  -moz-transform: translateX(1px) translateY(-1px) rotate(-45deg);
  -ms-transform: translateX(1px) translateY(-1px) rotate(-45deg);
  -o-transform: translateX(1px) translateY(-1px) rotate(-45deg);
  transform: translateX(1px) translateY(-1px) rotate(-45deg);
}
 


/* -------------------------------- 

xnavigation 

-------------------------------- */

.cd-nav-container .lang2 {float:right; margin-right:60px; background:none; height:80px;  font-size:0; z-index:9999999999999999999; }
.cd-nav-container .lang2 a {color:#fff; text-align:center; line-height:20px; display:inline-block; width:60px; margin-top:30px; }
.cd-nav-container .lang2 a:first-child {border-right:1px solid rgba(255,255,255,.5); }

header h1 {display:inline-block;  }
header h1 .logo {width:100px; height:30px; background:url('../img/logo02.png') no-repeat 50% 50%; display:inline-block; background-size: contain; }


.cd-nav-container {
  position: fixed;
  z-index:9999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
  top: 0;
  right: 0;
  width: 100%;
  min-width:320px;

  height: auto;
  overflow-y: auto;
  background-color: rgba(0,0,0,.9);

  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
 	display:none;


}
.cd-nav-container.is-visible {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-overflow-scrolling: touch;
   display:block; 
 }  
  
.cd-close-nav {
  /* 'X' close icon */
  position: absolute;
  height: 80px;
  width: 80px;
  /* set the right position value so that it overlaps the .cd-nav-trigger*/
  right: 0;
  top: 40px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.cd-close-nav::after, .cd-close-nav::before {
  /* lines of 'X' icon */
  content: '';
  position: absolute;
  height: 2px;
  width: 40px;
  left: 50%;
  top: 50%;
  background-color: #111;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cd-close-nav::after {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.cd-close-nav::before {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  -o-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
.no-touch .cd-close-nav:hover {
  opacity: .8;
}
 
/* -------------------------------- 

xshadow layer 

-------------------------------- */
.cd-overlay {
  /* shadow layer visible when navigation is open */
  position: absolute;
  height: 100%;
  width:100%; 
  max-width: 100%;
  z-index:99999999;
  top: 0;
  left: 0;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.35);
  visibility: hidden;
  opacity: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 0.4s 0s, visibility 0s 0.4s;
  -moz-transition: opacity 0.4s 0s, visibility 0s 0.4s;
  transition: opacity 0.4s 0s, visibility 0s 0.4s;
}
.cd-overlay.is-visible {
  opacity: 0;
  visibility: visible;
  -webkit-transition: opacity 0.4s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.4s 0s, visibility 0s 0s;
  transition: opacity 0.4s 0s, visibility 0s 0s;
}

/* -------------------------------- 

xcontent 

-------------------------------- */


.navi              {width:80%; margin:0 auto; font-size:0; padding:50px 0; }
.navi:after {content:''; display:block; clear:both; }
.navi   .navi_t               {-webkit-text-size-adjust:none; width:100%; float:left; display:inline-block; width:25%; text-align:center;  vertical-align:top; }
.navi   .bg1  {background:url('/mobile/img/common/nav_icon.jpg') no-repeat right;  background-position:50px right; }

.navi   .navi_t  a {
	display:inline-block;
     padding:10px 5%; 
    width:100%;
 	color:#fff;
	font-size:2rem; font-weight:400;
	 
	box-sizing:border-box;
	
}


.navi   .navi_t.on a{     color:#e7141a;     color:#fff;}
.navi   .navi_t a:hover{     color:red !important;    color:#fff;}
.navi   .navi_t a:active {color:#e7141a;    color:#fff; }


.navi   .navi_t #navi_5 {padding:20px 0;}


.navi   .navi_t_s               {-webkit-text-size-adjust:none; width:100%;  color:#fff;    }


.navi   .navi_t_s  a {
	display:inline-block;
    width:100%;
 	color:#fff;
	font-size:1.2rem; 
	line-height:30px; 
	box-sizing:border-box;
	
}

 
.nav_bottom_link  {margin-top:2%; margin-left:3%; float:left; }

.navi   .nav_bottom_link  a { color:#999;   text-align:center;  font-size:0.95em;   line-height:2.6em;  margin-right:5px; }

.navi   .nav_bottom_link a:hover	{    color:#999;      }
.navi   .nav_bottom_link a:active	{   color:#999;    }




@media all and (max-width:1200px){

.navi              {width:95%; }
.navi   .navi_t               {width:25%;  }


}



@media all and (max-width:1000px){

.navi              {width:80%; }
.navi   .navi_t               {width:50%; }
.navi   .navi_t:nth-child(1),.navi   .navi_t:nth-child(2) {margin-bottom:50px; }


}



@media all and (max-width:600px){

.navi              {width:100%; padding:30px 3%; }
.cd-nav-container .lang2 {display:none; }
.navi .navi_t a {font-size:1.4rem; }
.navi   .navi_t:nth-child(1),.navi   .navi_t:nth-child(2) {margin-bottom:30px; }
.navi .navi_t #navi_5 {padding:10px 0; }
.navi .navi_t_s a {font-size:1rem; padding:5px; }

}







