@charset "UTF-8";


.cd-nav-trigger span.ham {background-color:#333 !important}

header { position: fixed; top: 0; left: 0; width: 100%; z-index: 10000;
    background:#fff;
}
header .logo {background:url('/common/img/logo.png') no-repeat center; background-size:100%; width:200px; height:30px; position:absolute; left:3%; top:23px; }
header .logo a {width:100%; height:40px; display:inline-block; }
header .call { position:absolute; width:150px; line-height:30px;  right:3%; font-size:1rem; top:27px;  border:1px solid #ddd; font-size:0.77rem; letter-spacing:0.5px; font-weight:400; color:#111}

.header-wrap { position: relative; height: 80px; text-align: center;
    -webkit-transition: ease-out .35s;
    -o-transition: ease-out .35s;
    transition: ease-out .35s;
}
header:hover .header-wrap { background:#fff; }
.header-wrap .container { position: relative; max-width: none; }


 /* GNB */
.gnb { display: inline-block; vertical-align: top; }
.gnb-menu { position: relative; width: auto; text-align: center; }
.gnb-menu a { display: block; line-height:80px; width:150px; color: #333 important; font-size:1.25rem; font-weight: 500; background:url('/common/img/li_bg2.png') no-repeat right; }
.gnb-menu:last-child a {background:none}

.gnb-menu a h2 {color:#333 !important}
.gnb-menu h2 { font-size: inherit; color: inherit; font-weight: inherit; }
 .gnb ul li.active:before { content: ''; position: absolute; bottom: -1px; left: 0; width: 100%; height: 2px; background: #ee741f; }
 

.gnb-full { overflow: hidden; position: relative; width: 100%; height: 0;
    background-color:#fff;
    -webkit-transition: ease-in-out .35s;
    -o-transition: ease-in-out .35s;
    transition: ease-in-out .35s;
    opacity: 0;
    visibility: hidden; border-top:1px solid  rgba(0,0,0,.1);
}
 
.gnb-full-wrap { margin: auto; max-width:750px;   width: 100%; height: 100%; font-size:0 }
.full-gnb { display: inline-block; vertical-align: top; padding-top: 19px; width:20%; height: 100%;   box-sizing:border-box; border-left:1px solid rgba(0,0,0,.1);  }
.full-gnb:last-child {border-right:1px solid  rgba(0,0,0,.1);}
.full-gnb li a { display: block; padding:6px 0;  width: 100%; font-size: 15px; color: #444; }
.full-gnb li a:hover { opacity: .7; }
.full-on { height: 210px; opacity: 1; visibility: visible; }

@media (max-width: 1300px){ 
.gnb-menu a  {width:110px; font-size:1.15rem}
.gnb-full-wrap {max-width:550px;}
}

@media (min-width:950px) {
.m_top {display:none}
  }
   
 

@media (max-width: 950px){
.header-wrap  {display:none}
.m_top  {width:100%; display:inline-block; height:55px;}
.m_top p {position:absolute; left:3%; top:10px; color:#333}
.m_top h1 { position:absolute; left:50%; width:200px; margin-left:-100px; top:13px;  height:30px; background:url('/common/img/logo.png') no-repeat center; background-size:100%;  } 
.header_top { display: none; }
.header_middle_center { display: none; }
 
 
}