@charset "UTF-8";
html, body{width:100%;  }

.top{position:relative; width:100%; z-index:999999999999999; }
.top .top_wrap {}
.top .top_wrap .top01 {width:100%; height:40px; background-color:#333; overflow:hidden; }
.top .top_wrap .top01 .top01_wrap {padding:0 10%; box-sizing:border-box;}
.top .top_wrap .top01 .top01_wrap:after {clear:both; display:block; content:'';}
.top .top_wrap .top01 .top01_wrap ul.event {float:left;}
.top .top_wrap .top01 .top01_wrap ul.event li {}
.top .top_wrap .top01 .top01_wrap ul.event li a {color:#aaa; font-size:.8rem; line-height:40px;  font-family: 'Noto Sans KR', sans-serif; letter-spacing:.01rem !important;}
.top .top_wrap .top01 .top01_wrap ul.lang {float:right; padding:9px 0;}
.top .top_wrap .top01 .top01_wrap ul.lang:after {clear:both; display:block; content:'';}
.top .top_wrap .top01 .top01_wrap ul.lang li {float:left; margin-left:15px;}
.top .top_wrap .top01 .top01_wrap ul.lang li a {}
.top .top_wrap .top02 {position:absolute; left:10%; top:40px; }
.top .top_wrap .top02 .top02_wrap {width:260px; }
.top .top_wrap .top02 .top02_wrap .logo {height:140px; padding:35px 0; display:inline-block; box-sizing:border-box;}
.top .top_wrap .top02 .top02_wrap .logo img {}
.top .top_wrap .top02 .top02_wrap ul.menu_ico {padding:20px 0; }
.top .top_wrap .top02 .top02_wrap ul.menu_ico:after {clear:both; content:''; display:block; }
.top .top_wrap .top02 .top02_wrap ul.menu_ico li {float:left; margin-right:30px; position:relative;}
.top .top_wrap .top02 .top02_wrap ul.menu_ico li a {}
.top .top_wrap .top02 .top02_wrap ul.menu_ico li a img {}
.top .top_wrap .top02 .top02_wrap ul.menu_ico li span {display:block; width:18px; height:18px; border-radius:9px; background-color:#111; position:absolute; right:-6px; top:-4px; color:#fff; line-height:18px; text-align:center;}
.top .top_wrap .top02 .top02_wrap .top_search {margin:10px 0;}
.top .top_wrap .top02 .top02_wrap .top_search input {}
.top .top_wrap .top02 .top02_wrap .top_search a {}
.top .top_wrap .top02 .top02_wrap ul.login {margin:40px 0 20px 0;}
.top .top_wrap .top02 .top02_wrap ul.login:after {clear:both; content:''; display:block; }
.top .top_wrap .top02 .top02_wrap ul.login li {float:left;  padding:0 10px; font-size:.9rem; }
.top .top_wrap .top02 .top02_wrap ul.login li:first-child {padding-left:0; }
.top .top_wrap .top02 .top02_wrap ul.login li a {color:#aaa;}
.top .top_wrap .top02 .top02_wrap ul.login li span {width:1px; height:14px; display:block; background-color:#ccc; margin-top:2px; }
.top .top_wrap .top02 .top02_wrap nav {} 
.top .top_wrap .top02 .top02_wrap nav > ul {} 
.top .top_wrap .top02 .top02_wrap nav > ul > li {margin:15px 0; width:100%; display:inline-block; position:relative;} 
.hover {background-color:#edfbce; }
.top .top_wrap .top02 .top02_wrap nav > ul > li:hover {background-color:#edfbce; }
.top .top_wrap .top02 .top02_wrap nav > ul > li > a {font-size:1.6rem; width:100%; height:50px; line-height:50px; font-weight:600; position:relative; display:inline-block;} 
.top .top_wrap .top02 .top02_wrap nav > ul > li > ul {position:absolute; left:260px; top:0; background-color:#fff; box-shadow:1px 1px 5px rgba(0,0,0,.15); width:160px; text-align:center; display:none;} 
.top .top_wrap .top02 .top02_wrap nav > ul > li > ul > li {font-weight:600;} 
.top .top_wrap .top02 .top02_wrap nav > ul > li > ul > li:hover {background-color:#edfbce; }
.top .top_wrap .top02 .top02_wrap nav > ul > li > ul > li > a{font-size:.9rem; display:inline-block; width:100%; height:50px; line-height:50px; } 


.visual {width: 100%; min-width:1500px; height:940px;  padding:0 10%; position: relative; display: flex; justify-content: center; align-items: center; overflow:hidden; }
.visual .visual_wrap {position:relative; width:100%; height:100%; }
.visual .visual_wrap .leaves {}
.visual .visual_wrap .leaves > img {object-fit: contain;}
.visual .visual_wrap .leaves > img:nth-child(1) {position: absolute; top: -40px;  right: 500px;}
.visual .visual_wrap .leaves > img:nth-child(2) {position: absolute; top: 150px;  right: -80px;}
.visual .visual_wrap .leaves > img:nth-child(3) {position: absolute; bottom: 250px;  left: 270px;}
.visual .visual_wrap .leaves > img:nth-child(4) {position: absolute; bottom: 100px;  right: 20px;}



.visual .visual_wrap .slick-text {width:650px; height:650px; border-radius:100%; background-color:#fff9ce; padding:130px 0 0 110px; box-sizing:border-box;  
	position: absolute;
    transform: translate(0,-50%);
    top: 50%;
    left:300px;
    transition: .2s all ease-in-out;
	}
.visual .visual_wrap .slick-text > div {}
.visual .visual_wrap .slick-text p {font-size:4.5rem; line-height:5rem; font-family: 'Noto Sans KR', sans-serif; letter-spacing:.01rem !important;}
.visual .visual_wrap .slick-text p strong{font-size:6.3rem; font-family: 'Noto Sans KR', sans-serif; letter-spacing:.01rem !important;}
.visual .visual_wrap .slick-text span.txt2 {font-size:1.1rem; line-height:3rem; font-family: 'Noto Sans KR', sans-serif; letter-spacing:.01rem !important;}
.visual .visual_wrap .slick-text span.txt2 strong {font-size:2.5rem; font-family: 'Noto Sans KR', sans-serif; letter-spacing:.01rem !important;}
.visual .visual_wrap .slick-text a {display:inline-block; width:170px; height:40px; line-height:35px; background-color:#333; color:#fff; transition:all 0.9s; border:2px solid #111; text-align:center; font-size:1.2rem; 
											  border-radius:20px; margin-top:15px; font-family: 'Noto Sans KR', sans-serif; letter-spacing:.01rem !important;
											  position: relative; z-index: 2; overflow:hidden;}

/*btn_hover*/
.visual .visual_wrap .slick-text a:hover {background-color: #fff; color: #111;}

.visual .visual_wrap .slick-text a::before,
.visual .visual_wrap .slick-text a::after {position: absolute; z-index: -1; display: block; content: '';}

.visual .visual_wrap .slick-text a,
.visual .visual_wrap .slick-text a::before,
.visual .visual_wrap .slick-text a::after {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-transition: all .3s; transition: all .3s;}

.visual .visual_wrap .slick-text a::before,
.visual .visual_wrap .slick-text a::after {left: 0; width: 100%; height: 50%; background-color: #333;}

.visual .visual_wrap .slick-text a::before {top: 0;}

.visual .visual_wrap .slick-text a::after {bottom: 0;}

.visual .visual_wrap .slick-text a:hover::before,
.visual .visual_wrap .slick-text a:hover::after {height: 0; background-color: #111;}



.visual .visual_wrap .slick-items {width:760px; height:760px; border-radius:100%; overflow:hidden;  
	position: absolute;
    transform: translate(0,-50%);
    top: 50%;
    left:760px;
    transition: .2s all ease-in-out;
    text-align: center;
	}

.visual .visual_wrap .slick-items div {width:100%;}
.visual .visual_wrap .slick-items div img{}
.visual .visual_wrap .arrow {
	position: absolute;
    top: 50%;
    left:1480px;
    transition: .2s all ease-in-out;}
.visual .visual_wrap .arrow botton {}
.visual .visual_wrap .arrow .slick-prev {left:-705px;}
.visual .visual_wrap .arrow .slick-next {}
.visual .visual_wrap .slick-dots {z-index:9999999999999;}

.visual .visual_wrap .ribbon {position:absolute; left:1230px; top:170px }


